{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Advisors{% endblock %}

{% block content %}
    <div class="container display-6">
        {% for advisor in advisors %}
        <div>
            <p>User ID:  {{ advisor.userid }}</p>
            <p>Advisor Name:  {{ advisor.name }}</p>
            <p><img style="width: 300px; height: 300px;" src="{{ advisor.media|make_list|slice:'4:'|join:'' }}" alt="image"></p>
        </div>
            
        </br></br>
        {% endfor %}
    </div>
{% endblock %}
