{% extends 'app/base.html' %}

{% block title %}Book Calls{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="diaplay-5">{{ user }}</h1>
        
        {% for advisor in advisors %}
            <form method="POST" action="{% url 'bookCalls' %}">    
                {%csrf_token %}
                <label class="lean">Book {{ advisor.Advisor.name }} on {{ advisor.date }}</label>
                <input type="hidden" name="id" value="{{ advisor.Advisor.userid }}">
                <input type="hidden" name="name" value="{{ advisor.Advisor.name }}">
                <input type="hidden" name="date" value="{{ advisor.date }}">
                <input class="btn btn-primary mb-3" type="submit" value="Book now"><br/>
            </form>    
        {% endfor %}
    </div>

{% endblock %}