{% extends 'app/base.html' %}
{% block title %}Login {{ block.super }}{% endblock %}

{% block content %}
<form method="POST" action="{% url 'login' %}" class="ms-5 mt-3">
    {% csrf_token %}
        <table>
            <tr>
                <td rowspan="2"><label for="username" class="form-label ms-4 fw-bold me-5">Username</label></td>
                <td><input type="text" name="usn" class="form-control" placeholder="Username" autofocus></td>
            </tr>
            <tr>
                <td class='ps-5'>    
                    <li>Only Characters.</li>
                    <li>_ only allowed.</li>
                </td>
            </tr>
            
            <tr>
                <td rowspan="2"><label for="password" class="form-label ms-4  me-5 fw-bold">Password</label></td>
                <td><input type="password" name="psd" class="form-control  placeholder="Password" required></td>
            </tr>
            <tr>
                <td class="ps-5">
                    <li>Minimum 8 Characters.</li>
                    <li>One Character, One Number and One special symbol.</li>
                </td>
            </tr>
        </table>
        <input type="submit" value="Login" class="btn btn-primary btn-lg m-2">
        <a href="{% url 'home' %}" class="btn btn-secondry m-2 bg-secondary text-white">Home Page &xlarr;</a>
    </form>
    

{% endblock %}