{% extends 'app/base.html' %}
{% load static %}

{% block title %}Appointment booking {{ block.super }} {% endblock %}

{% block content %}
<div class="container">
    <h1>Book an appointments.</h1>
    <p class=lead fs-4'>{{ user|capfirst }}</p>
    <ol>
        {% for b in bookings %}
        <li class='ps-3 p-1 {% if b.available %}open{% else %}closed{% endif %} fs-5 '>
            {{ b.date }}  {% if b.available %} <button class='btn btn-primary 'data-bs-toggle="collapse" 
            data-bs-target="#info_patient{{ forloop.counter }}" aria-expanded="false" 
            aria-controls="collapseExample">Click to Book</button>

            <div class="collapse" id="info_patient{{ forloop.counter }}">
                <div class="card card-body">
                    <form method="POST" action="{% url 'makebooking' %}" >
                        {% csrf_token %}
                        <input type="text" name='age' placeholder="Age" />
                        <input type="text" name='name' placeholder="Patient name" />
                        <input type="hidden" name='date' value='{{ b.date }}' />
                        <input  class="btn btn-secondary" value="&xrarr;" type="submit" />
                        </form>
                    </div>
                </div>
            {% else %} &cross;
            {% endif %}
        </li>
        {% endfor %}
    </ol>

    <p>See your appointments<a href='{% url "appoints" %}' class="btn btn-secondary m-2">&xlarr;</a></p>
</div>
{% block script %}
<script>
    let x =Array.from(document.getElementsByClassName('closed'));
    x.forEach(element=> {
        element.dataset.hidden=true;
    });

</script>
{% endblock %}
{% endblock %}