{% extends 'app/base.html' %}
{% block title %} User not found error {% endblock %}

{% block content %}
    <div class="container">
        <h1 class='display-5'>
            User not Found.
        </h1>
        <p class="lead">Possible reasons for this error are: </p>
        <ul class="text-grey">
            <li>Username is incorrect.</li>
            <li>Password is incorrect.</li>
            <li>User in not available.</li>
        </ul>

        <p>Login page<a href="{% url 'login' %}" class="badge bg-secondary btn btn-lg text-white ms-2">&xlarr;</a></p>
    </div>

{% endblock %}