{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="{% static 'google/style1.css' %}" rel="stylesheet">
    <title>virtual Piano</title>
</head>
<body>
    <div class="container">
        <div class="white-keys">
            <kbd>A</kbd>
            <kbd>S</kbd>
            <kbd>D</kbd>
            <kbd>F</kbd>
            <kbd>G</kbd>
            <kbd>H</kbd>
            <kbd>J</kbd>
        </div>
    <div class="black-keys">
        <kbd class="right">W</kbd>
        <kbd class="right">E</kbd>
        <kbd class="left">T</kbd>
        <kbd class="left">Y</kbd>
        <kbd class="left">U</kbd>
    </div>
    </div>
<script src="{% static 'google/main.js' %}" type="text/javascript"></script>
</body>
</html>
